/*CSS - Cascading Style Sheets
Vsetko formatovanie by malo byt vybrate z  HO dokumentu a vlozene v css subore

inline css - formatovanie priamo v texte
<p style="color:white; background-color:gray;">Example of inline</p>

embeded/internal - je v head of HTML
<html>
    <head>
        <style>
            p{
                color:white;
                background-color:gray;
            }
        </style>
    </head>
    <body>
        <p>Nejaky text</p>
    </body>
</html>

External CSS - v externom subore
<head>
    <link ref="stylesheet" href="example.css">
</head>
*/

/* koment */
/*
-webkit-xxx
-mox-xxx
-ms-xxx
-o-xxx
xxx    - neprefixovany kod na koniec, pretoze comu nerozumie preskakuje a posledne plati

Styl ma 3 casti
selector property value*/
h1{      color:   red;}

/* <div id="intro">     ID mozme pouzit len raz
    <p>Paragraf</p>
  </div>
  <p>Druhy paragraf</p>
  <p class="first">Treti paragraf</p>   class mozme pouzit kolko chceme*/

/*CSS*/
#intro{ /* # oznacuje ID */
    color:white;
    background-color:gray;
}
.first{ /* . oznacuje class */
    font-size:200%;
}

/* <div id="intro">
    <p class="first">Treti <em> EMPHASIS </em></p>
</div> */
#intro .first em{
    /* cielene len na em cast triedy first v id intro*/
    color:black;}

/* Stranky mozu vyzerat trojako:
- styl vytvoreny autorom
- styl nastaveny v browseri
- styl vytvoreny uzivatelom
*/

/* ------------------ Working with text -----------------
<p class="serif">Text</p>
class: serif sanserif monospace cursive fantasy*/ 

p.serif{font-family: "Times New Roman", Times, serif;} /* Ked ma nazov viac slov oznacujeme "" */
p.sanserif{font-family: Arial, Helvetica, sans-serif;}
body{font-family: Arial, "Helvetica Nueve", Helvetica, sans-serif;} /* Zadavame viac fontov ak by uzivatel nemal nejaky nainstalovany
Polsedna moznost je jedna zo zakladnych fontov */

/* Velkost pisma 
<p class="small">Text</p>
class: medium large xlarge*/
p.small{font-size: small;} /* medium large x-large
velkost mozeme urcit aj v pixeloch a em (em=16px)*/
h1{font-size: 20px; font-size: 1.25em;}

/* Font Style
<p class="normal">Text</p>
class: normal
italic - html tag <i></i>
olique-less supported, similar to italic */
p.normal{font-size: normal;}

/* Font Weight
light bold bolder <strong></strong>*/
p.light{font-weight: lighter; font-weight: 700;} /* bold bolder, ciselne 100-900, 400 normal, 700 bold */

/*Font Variant
normal small-caps inherit */
p.normal{font-variant: normal;} /* small-caps inherit.  small-caps treba otestovat, nieje vsade podporovany */

/* color */
h1{color: #0000FF; color: rgb(255,0,0); color:green;}

/* text align Horizontally */
p.example{text-align: left;} /* left right center justify */

/* text align Verticaly */
p.example{vertical-align: top;} /* top middle bottom baseline(normal) sub super -10px
nefunguje pre vsetky elementy rovnako, div poterbuju dalsie styly*/

/* <div class="main">
    <div class="paragraph">
        Text
    </div>
</div> */
.main{
    height: 150px; width: 400px;
    background-color: lightskyblue;
    display: inline-table;}
.paragraph{
    display: table-cell;
    vertical-align: middle;}
p{
    text-decoration: none; /* nic */
    text-decoration: inherit; /* to iste co parent element */
    text-decoration: overline; /* ciara nad */
    text-decoration: underline; /* podciarknute */
    text-decoration: line-through; /* preskrtnute */
    text-decoration: blink; /* blika, vela browserov ignoruje*/
}

/* Odsadenie prveho riadku */
p{text-indent: 60px;} /* mozme pouzit aj: px, pc, pt, cm, mm, in, em, %, inherit*/

/* Tien
mozme ich priradit aj viac
text-shadow: 5px 2px 4px grey;  X, Y, blur efekt, farba
IExplorer 9 a starsie nepodporuju text-shadow */
p{text-shadow: 5px 2px 4px grey;} /* mozme pouzit aj: px, pc, pt, cm, mm, in, em, %, inherit*/

/* Text Transform */
p{text-transform: capitalize; /* Prve pismeno velke */
    text-transform: uppercase; /* Vestko velke */
    text-transform: lowercase; /* vsetko male */
    text-transform: none; /* bez efektu */}

/* Letter spacing - medzery  m e d z i  pismenami*/
p{letter-spacing: normal;} /* normal, inherit, mozme pouzit aj: px, pc, pt, cm, mm, in, em, %,  kladne aj zaporne cisla */

/* word-spacing - to  iste  co letter-spacing  ale  so  slovami*/
/* mozme pouzit aj: px, pc, pt, cm, mm, in, em, %,  kladne aj zaporne cisla */

/* White-space: */
p{ white-space: inherit; /* ako parent */
    white-space: normal; /* normalne */
    white-space: nowrap; /* vsetko v jednom riadku az po </br> tag */
    white-space: pre; /* text wrapuje na line break a white space */
    white-space: pre-line; /* text wrapuje na line break ale ignoruje white space */
    white-space: pre-wrap; /* podobne ako pre, ale nedovoli vyjst textu z okna*/}

/* ---------- Properties --------------
BOX Model: MARIGN BORDER PADDING CONTENT
Properties work in same order: TOP RIGHT BOTTOM LEFT
Celkova sirka: L+R Margin + L+R Border + L+R Margin + Content Width*/
p{ padding: 10px;
    border: 5px solid green;
    border-color: blue; /* #FF6600, rgb(0,153,0) */
    border-style: solid; /* none dotted dashed double groove ridge inset outset hidden*/
    border-width: 5px;}
/* Nemusi byt cely rovnaky, mozeme definovat aj kazdu stranu zvlast*/
p{
    border-top-style: dashed;
    border-bottom-style: dotted;
    border-left-color: red;
    border-right-width: 10px;
}

/* Celkova velkost div elementu
VElkost mozeme urcit aj v % a min max velkosti */
div{
    min-width: 10%;
    min-height: 100px;
    max-width: 100%;
    max-height: 300px;}

/* Background */
p{
    background-color: blue;
    background-image: url("img.png"); /* mozme mat viac obrazkov, treba oddelit ciarkami*/
    background-repeat: repeat-x; /* dlazdice vedla seba ... repeat-y, no-repaet, inherit */ }

/* Styling the lists
<ol class="lower-alpha">
    <li>red</li>
    <li>green</li>
    <li>blue</li>
</ol>
2 typy - unordered lists <ul>  a ordered lists <ol> */
ol.lower-alpha{
    list-style-type: lower-alpha; /* a. b. c. */
    list-style-type: circle; /* kruzky */
    list-style-type: square; /* stvorceky */
    list-style-image: url("logo.jpg"); /* obrazok vsade */
    list-style-position: inside; /* otside je default */
    list-style: square outside none; /* v jednom riadku
                typ    posit.  img */
}

/* Tabulka - Table */
table{
    border-collapse: collapse; /* Ci je ciara medzi bunkami spojena alebo rozdelna*/
    border-spacing: 0cm; /* urcuje ako daleko od seba su bunky pri rozdelenej ciare*/
}
/*<table border="1">
    <tr>
        <td>A</td>
        <td>B</td>
    </tr>
    <tr>
        <td>C</td>
        <td>D</td>
    </tr>
</table>
<caption>Nazov</caption>*/
table{
    border-collapse: separate;
    border-spacing: 20px 40px;
    caption-side: top;  /* bottom */}
/* Prazdne bunky mozeme urcit ci zobrazime oramovane */
table{
    empty-cells: show; /* hide */
    table-layout: auto; /* auto - samo si urci velkost bunky, fixed -my urcime velkost bunky */}

/* -------------- Styling links -----------------
<a href="https://google.com" target="_blank">THIS IS LINK</a>*/
a:link{} /* normalne nenavstivene linky */
a:visted{} /* navstivene linky */
a:hover{color: red;} /* nad ktorymi je mys,  musi byt za a:link a a:visited*/
a:active{} /* staven sa active po kliknuti, Musi byt ... ???? z alebo 2 ??? */
a{text-decoration: none; /* odobera podciarknutie linku */}

/* ---------------- Mouse Cursor style ----------------
<span style="cursor:help;">Text</span>
auto, crosshair, default, move, help, text, wait, n-resize s-resize ne-resize, sw-resize (nw se e w)
pointer, progress, not-allowed, no-drop, col-resize row-resize vertical-text all-scroll
Ked dame kurzor na default, uzivatel nemusi vydiet linky, zle pouzite linky mozu byt zavadzajuce*/

/* --------------  Positioning and layout ----------------
Every element on page is rectangular box
display: block, inline, none, list-item, table, table-cell, table-column, grid
visibility:hidden - podobne ako display:none ale hidden bude stale zaberat miesto

Positioning */
p{ position: static; /* Polohoa od predchadzajuceho elementu, nie celkovo na stranke */
    position: fixed; /* Poloha vzhladom k oknu, nepohne sa ani ked uzivatel scrolluje */
    position: relative; /* Poloha vzhladom k "normalnej" polohe elementu. Teda k miestu, kde by to malo byt normalne zobrazene */
    position: absolute; /* vzhladom k first parent elementu */
    top:30px; right:5px;}

/* Floating  - zarovnanie, iba v pravo a lavo */
img{ float: left;
    width: 120px;
    margin-right: 10px;} /* dobre na urcenie hranice od ktorej moze byt zobrazeny text aby sa hned nedotykal obrazku */

/* Clear property - urcuje stranu elementu, kde ine float elementy nemozu byt
<div class="floating">
    <p>Text</p>
</div>
text<br/>
<br class="clearing" />
text<br/> */
.floating{float: right;}
.clearing{clear: both;} /* right, left both */

/* overflow property
Kazdy element je box. Ak velkost nieje dana, vyska sa bude prisposobovat obsahu. Overfkiw urcuje co sa bude diat ak obsah presiahne velkost. */
p{overflow: visible; /* normal */
overflow: scroll; /* scrollbary */
overflow: hidden; /* co je mimo, nevidno */
overflow: auto; /* if overflow is clipped, a scroll-bar ???? be added to make it possible to see the rest of content */}

/* ---------- Z-INDEX ------------------- 
Ak sa elementy prekrivaju, urcuje, ze ktory element bude na vrchu. Vyssie cislo je vyssie. */
p{z-index: 5;}

/* ------------------- CSS 3 Basics ----------------------
najnovsi CSS standard, spatne kompatibilny, umoznuje Border radius, Border Images, Multiple backgrounds, box shadow,
Animations and effects, Gradients (linear, radial)
Transform allows rotate, scale, move, skew elements
Transitions allows animate from 1 to another
Animations

VENDOR PREFIXES
niekedy treba pisat kod viackrat, pre rozne browsere
-webkit-border-radius:24px;

-webkit-xxx  Safari, Chrome
-mox-xxx    Firefox
-ms-xxx     Internet explorer
-o-xxx      Opera
xxx    - neprefixovany kod na koniec, pretoze comu nerozumie preskakuje a posledne plati

------ Rounded Corners --------- */
p{ border-radius: 20px; 
    border-radius: 0 0 20px 20px;} /* Mozeme urcit kazdy roh zvlast, tiez pouzit %

/* Box Shadow */
p{ box-shadow: 10px 10px #888888;}
/*             posuva tien, farba   */
p{ box-shadow: 10px 10px 5px 5px #888888;}
/*                      blur spread
Mozeme pouzit viaac tienov a tiez vnutorny tien. Oddelujeme ciarkou */
p{ box-shadow:
    inset 10px 10px 5px #888888,
    inset -10px -10px 5px #000;}

/* --------------- Transparency effect ------------------
